    // for use in wsl 
    "version": "2.0.0",
    "tasks": [
        {
            "label": "echo",
            "type": "shell",
            "command": "echo Hello"
        },
        {
            "label": "Run git repo backup upon opening",
            "type": "shell",
            "command": "cd ${workspaceFolder} && cd $(git rev-parse --show-toplevel) && ./backup.sh",
            "windows": {
                "command": "bash -c \"cd $(wslpath '${workspaceFolder}') && cd $(git rev-parse --show-toplevel) && ./.autogit.sh \""
            },
            "presentation": {
                "reveal": "silent",
                "panel": "new"
            },
            "runOptions": {
                "runOn": "folderOpen",
                "instanceLimit": 1
            }
        }
    ]
}
